/* app css stylesheet */
/*
html,body {
  text-align: center;
}

.buddies-table {
  margin: auto;
  background-color: #aeabab;
  box-shadow: 5px 5px 2px #D3D3D3;
  line-height: 3em;
}

.buddies-table th{
  font-weight: bold;
}

.deleteButton {
  background: #FF0000;
  border-radius: 7px;
  cursor: pointer;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: none;
  color: #fff;
}
.addBuddyButton {
  background: -webkit-linear-gradient(#0000FF, #4e4ef6);
  background: -moz-linear-gradient(#0000FF, #4e4ef6);
  border-radius: 15px;
  border:none;
  color: #fff;
  line-height: 15px;
  width: 10%;
  cursor: pointer;
}
*/

.searchBlock {
  margin: 2% 0 2% 0;
}
/*
.searchTextBox {
  line-height: 15px;
  width: 10%;
  padding-left: 10px;
}

input[type='text'] {
  border-radius: 7px;
}
*/
.addBuddyForm div {
  margin-top: 3%;
  width: 75%;
}
.addBuddyForm div:before {
  content: "*";
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}



