<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="buddyListApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="buddyListApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="buddyListApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="buddyListApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Buddy List App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body ng-controller="buddyListCntrl">
<h2>Buddies List</h2>
<div>
  <table class="table">
  <tr>
    <th><a href="" ng-click="sortOrder('userName')"> User Name</a></th>
    <th><a href="" ng-click="sortOrder('firstName')">First Name</a></th>
    <th><a href="" ng-click="sortOrder('lastName')">Last Name</a></th>
    <th>Status</th>
  </tr>
  <tr ng-repeat-start="buddy in buddiesData | filter:searchText | orderBy:key:sortReverse">
    <td> <a href="" ng-click="showDetailsView($index)">{{buddy.userName}}</a></td>
    <td>{{buddy.firstName}}</td>
    <td>{{buddy.lastName}}</td>
    <td>{{buddy.status}}</td>
    <td><button class="btn btn-danger" ng-click="removeBuddy(buddy)">Delete</button></td>
  </tr>
  <tr ng-repeat-end ng-show="currentIdx === $index && toggle">
    <td colspan="4">
      <div><b>Email:</b> {{buddy.email}}</div>
      <div><b>DOB:</b> {{buddy.DOB}}</div>
      <div ng-show="buddy.status === 'offline'">Last signin on {{buddy.lastSignIn}} </div>
    </td>
  </tr>
  </table>
  <div class="searchBlock">
    <input class="form-control" ng-model="searchText" type="text" placeholder="Search buddies here..." />
  </div>
  <div>
    <button class="btn btn-primary" ng-click="openAddDialog()">Want to add more buddies?</button>
  </div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/ngDialog/js/ngDialog.js"></script>
  <script src="app.js"></script>
  
</body>
</html>
